.picture img{
    
    width: 500px;
    height: 510px;
    margin: 3rem;
    border-radius: 0rem 1rem;
}

.picture{
    display: flex;
justify-content: center;


}
.cards_home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    margin-top: 3rem;


}

.card_title-home {
    text-align: center;
    margin-top: 6rem;
    font-size: 4rem;
    font-family: 'Corinthia', cursive;
}

.card_home-reason {
    width: 250px;
    height: 230px;
    border: rgb(3, 3, 3) 1px solid;
    background-color: rgb(253, 255, 245);;
    margin: 1rem;
    border-radius: 0.8rem;
}

.icon {
    margin-top:1.5rem;
}

.card_home-content {

    text-align: center;
    color: rgb(56, 55, 55);
    font-weight: 600;
    padding: 1rem;
    font-size: 1.1rem;
}