.pictures img{
   width: 150px;
    height: 250px;
 
}

.pictures{
    display: flex;
justify-content: center;



}

@media (min-width:800px) {


    .pictures img{
        width: 500px;
         height: 500px;
      
     }
     
     .pictures{
         display: flex;
     justify-content: center;
     height: 550px;
     
     
     }
    
    }