.phrase{
    font-family: 'Corinthia', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 3rem;
    height: 120px;
}

.first-sentence p{
   
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 8rem;
}