.team {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.colaborator {
    margin: 2rem;
    text-align: center;
}

.colaborator-img {
    width: 230px;
    height: 250px;
    border-radius: 0rem 1rem 0rem 1rem;
}